*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1200px;
    margin: 0 auto 0 ;
}
.header{
    width: 900px;
    margin: 50px auto;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "PlayfairDisplay";
   
    line-height: 1.714;
}
a {
    text-decoration: none;
    color: rgb(98, 98, 98);
}
ul{
    list-style: none;
}
.menuFlexItem{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 24%;
    vertical-align: top; 
}
a:hover{
    color: #1abc9c ;
}



.AllArticlesConteiner{
    width: 900px;
    display: inline-block;
    height: auto;
    vertical-align: top;
    margin: 0 150px;
}
.ArticleContiner{
    width: 420px;
    margin: auto;
    display:  inline-block;
    vertical-align: top;
}
.ArticleItem{
    width: 49%;
    display: inherit;
   
}
.ArticleImage{
    width: 420px;
}


h3{
    font-size: 14px;
    font-family: "Ubuntu" sans-serif;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    margin: 30px 0;
    font-weight: 100;
}
h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.2;
} 
p{
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left; 
}


  


button{
    border-style: solid;
    border: black;
    font-size: 20px;
    font-family: "PlayfairDisplay";
   
    line-height: 1.2;

  color: rgb(98, 98, 98);
    cursor: pointer;
    width: 160px;
    height: 53px;
    margin: 50px 500px;
    text-align: center;
}


