@font-face{
    font-family: "wer";
    src: url("../fonts/Sketchetica-Light/Sketchetica-Light.woff")format("woff"),
    url("../fonts/Sketchetica-Light/Sketchetica-Light.woff2")format("woff2"),
    url("../fonts/Sketchetica-Light/Sketchetica-Light.ttf")format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat-v12-latin-regular.woff2)format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/montserrat-v12-latin-700.woff2)format('woff2');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-slab-v7-latin-regular.woff)format('woff');
}