@font-face{
    font-family: "wer";
    src: url("../fonts/Sketchetica-Light/Sketchetica-Light.woff")format("woff"),
    url("../fonts/Sketchetica-Light/Sketchetica-Light.woff2")format("woff2"),
    url("../fonts/Sketchetica-Light/Sketchetica-Light.ttf")format("truetype");
    font-weight: 400;
    font-style: normal;
}