@import"fonts.css";


*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
     padding: 0 ;
    width: 1400px; 
}
.container{
    width: 940px;
    margin: 0 auto;
  }

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo {
    text-transform: unset;
    color: #FED136;
    font-size: 26px;
    font-family: "Wisdom";
    font-style: normal;
    line-height: 40px;
}
.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 500px;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #FFFFFF
}
a {
    text-decoration: none;
}
.menu-link:hover{
    color: #FED136;
    
}

.main {
    margin-top: 125px;
}

.title {
    margin: 0;
    text-align: center;
    font-family: "Montserrat" sans-serif;
    font-weight: bold;
    color: #222222;
    font-size: 40px;
   line-height: 74px;
   text-transform: uppercase;
}

.sub-title {
    text-align: center;
    font-style: italic;
    color: #808080;
    font-weight: 300;
    margin-bottom: 80px;
}

}
p.title{
    font-size: 16px;
    line-height: 0;
}
p.title contact-us{
    color: #777777;
    font-family: DroidSerif;
    font-style: italic;
}
.section-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 290px;
   margin-bottom: 70px;
   text-align: center;
 
}
.responsive::before{
    display: inline-block;
    content: '';
    width: 75px;
    height: 75px;
    background-image: url(../img/Icon-Basket.jpg),url(../img/Circle-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.web::before{
    display: inline-block;
    content: '';
    width: 75px;
    height: 75px;
    background-image: url(../img/Icon-Laptop.jpg),url(../img/Circle-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.security::before{
    display: inline-block;
    content: '';
    width: 75px;
    height: 75px;
    background-image: url(../img/Icon-Locked.jpg),url(../img/Circle-3.jpg);
    background-repeat: no-repeat;
    background-position: center; 
}

.commers{
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height:4;
  
}
.description {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
}
  

  .wrapper-fon{
    margin: auto;
    margin-top :115px;
    padding: 115px ;
    background-color:#222222;
    width: 1400px;
    background-image: url(../img/Map\ Image.png);
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: right;
    background-position-y: 125px;
}
  
 
  
 .title-contact-us{
    text-align: center;
     font-family: Montserrat;
     font-weight: bold;
     color: #FFFFFF;
     font-size: 40px;
    line-height: 74px;
    text-transform: uppercase;
 }
 
  form, input {
     
    color: #BBBBBB;	
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
  }
  .your-name{
      display: flex;
      justify-content: space-between;
  }
  .text-message{
    
    width: 455px;
    height: 210px;
  }

  input { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 455px;
    height: 50px;
    margin: 30px auto;
    line-height: 30px;
    padding: 0;
    text-indent : 20px;
  }
  .btn{
   display: inline-block;
   align-self: center;
    width: 240px;
    height: 65px;
    background-color: #FED136;
border-radius: 5px;
border: 1px solid #fed136;
text-transform: uppercase;
font-family: "Montserrat";
font-size: 18px;
font-weight: bold;
color: rgb(255, 255, 255);
cursor: pointer;
 }

 