@media ( max-width: 768px){


.item {
    margin-bottom: 30px;
}

.nav{
    flex-direction: column-reverse;
    margin-bottom: 160px;
   
}
.find{
 width: 290px;
}
.urlaubsgluck{
    padding-left: 50px;
}
.menu-flex{
    padding-left: 45px;
}
.btn{
    margin-bottom: 60px;
}

}

@media(min-width: 768px){
    .nav{
        justify-content: space-between;
      
    }
    .card{
        display: flex;
       
        justify-content: space-between;
    }
    .btn{ 
        margin: auto;

    }
}

@media (min-width: 768px) and (max-width: 960px){
    .container{
        min-width: 768px;
        max-width: 960px;
    }
    
    .menu-flex{
        display: flex;
        justify-content: space-between;
    }
    .card{
      
        flex-wrap: wrap;
       
    }
    .btn{
        margin-bottom: 40px;
    }
  
}
@media(min-width: 961px){
.container{
    min-width: 961px;
}
.btn{
    margin-bottom:75px;
}
}

  