html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

body{
    text-align: center;
  }
.container{
    width: 1100px;
    margin: 0 auto;
}
.header{
    width: 1110px;
    margin-top: 40px;
   margin:  auto;
   padding-top: 38px;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
a{
    text-decoration: none;
    color: #515151;
}
.logo{
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 30px;
    font-weight: lighter;
    float: left;
}
.logo::first-letter{
    color: #1abc9c;
    font-weight: bold;
}
ul{
    list-style-type: none;
    float: right;
}
.menu-item{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: inline;
    padding-right: 34px;
}
.menu-item:last-child{
    padding-right: 0;
}
.menu-item:hover {
    color: #1abc9c;
}


img{
    display: block;
    height: auto;
    max-width: 100%;
}
.slider{
    position: relative;
    width: 1600px;
    height: 600px;
    margin: auto;
  
}
.slider-ctrl{
    border: none;
    position: absolute;
    display: inline-block;
    width: 105px;
    height: 105px;
    opacity: 0.85;
    background-color: #1abc9c;
   top:225px;
    transform: translateY(-50%);
    z-index: 1;
    vertical-align: top;
   cursor: pointer;
    font-size: 80px;
    line-height: 84px;
    color: #ffffff;
}
.slider-ctrl-prev{
    left: 245px;
}
.slider-ctrl-next{
    right: 245px;
}
.slider-pagination-item{
display: inline-block;
width: 60px;
height: 5px;
background-color: #b0b8b9;
display: none;
}

.slider-pagination-aktive {
    background-color: #1abc9c;
}
.slider-pagination{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slides{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slides-image{
    height: 600px;
    object-fit: cover;
    width: 100%;
}
.slides-item{
    position: relative;
}
.slides-descr{
position: absolute;
top: 220px;
left: 50%;
transform: translate(-50%,-50%);
}
.tours{
    font-family: "Roboto", sans-serif;
    font-size: 47.5px;
    color: white;
    font-weight: bolder;
}
.tour{
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 25px;
   padding-top: 40px;
   font-weight: 300;
}





.wrapper-collection{
    width: 1600px;
        background-color: #e9f0fd; 
        padding-top: 100px;
        padding-bottom: 100px;
}
h3{
    
        width: 600px;
        display: block;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
       
        font-size: 48px;
        color: #555252;
        margin: auto;
        position: relative;
        padding-bottom: 40px; 
        margin-bottom: 20px;
}
.container-gallery{
    position: relative;
}
.gallery{
    margin: 0 auto;
    width: 1140px;
    margin-top: 80px;
}
h3::after{
  content: '';
  position: absolute;
  width: 160px;
  height: 8px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background:#1abc9c;
  
}
.card{
   display: inline-block;
  vertical-align: top;
  width: 250px;
 
  margin: 10px 15px;
  cursor: pointer;
 position: relative;
  
}
.img {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 323px;
    object-fit: cover;
  }
  p {
   
    margin: 0;
    display: inline-block;
  }
  
.menu-info{
    display: inline-block;
    position: absolute;
    width: 250px;   
    height: 40px; 
    left: 0;
    bottom: 0;
}

.name, .price {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
    height: 40px;
    background-color: #515151;
    float: left;
    width: 200px;
    color: #ffffff;
    text-align: center;
   /* padding-top: 15px;*/
  line-height: 40px;
}

.price {
    width: 50px;
    opacity: 0.5;
}
.card:hover .name {
    background-color:#1ABC9C ;
}
.card:hover .price {
    background-color:#1ABC9C ;
    opacity: 0.5;
}
.overlayContainer{
    width: 235px;
    height: 260px;
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 7px;
}
.card:hover .overlayContainer{
    opacity: 0.549;
    background-color: black;
}
.overlay-Background{
    position: absolute;
  bottom: 70px;
  left: 8px;
 /* width: 165px;
  height: 107px;
  display: inline;
  float: left;*/
}
.btn-small{
    width: 50px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    
    
}
.btn-big{
    width: 158px;
    height: 50px;
    font-size: 40px;
    margin-top: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}
.btn-big-add{
    display: inline;
    font-size: 15px;
    text-transform: uppercase;
}
.btn-small:hover{
    background-color: #1abc9c;
}
.btn-big:hover{
    background-color: #1abc9c;
}




.wrapper-footer{
    width: 1600px;
    text-align: center;
    height: 90px;
    background-color: #323232;
    display: inline-block;
}
.footer-all{
    font-family:'OpenSans' sans-serif; 
    color: #ffffff;
    padding-top: 30px;
    text-transform: capitalize;
    font-weight: 100;
}
.footer-graph{
    color: #1abc9c;
    text-transform:capitalize ;
}